<h1>Create Poll</h1>
<!-- #createForm="ngForm" -->
<form  [formGroup]="createForm" (ngSubmit)="submitFunc(createForm)">
    <div class="form-group">
        <br>Name: <input formControlName="name" type="text" name="name" required>
        <br>Question: <input formControlName="question" type="text" name="question" required>
        <br><br>
        Add Options <i class="fa fa-plus-circle" id="fa-1" (click)="addOption()"></i>
        <div formArrayName="options" *ngFor="let option of options.controls;let i=index">
            <input type="text" class="form-control" name="options" [formControlName]="i" >
            <br>
        </div>
        <br><br>
        <!-- <button (click)="createForm.reset()" >Reset</button><br> -->
        <button type="submit"> Submit</button>
    </div>
</form>
