<h1>{{ question }}</h1>
<p>by: {{ creator }}</p>
<p>
  <ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  >
  </ngx-charts-bar-horizontal>
  <ngx-charts-gauge
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [max]="5"
  >
  </ngx-charts-gauge>
  <ngx-charts-number-card
  [view]="cardView"
  [scheme]="colorScheme"
  [results]="data">
  </ngx-charts-number-card>
</p>
