<pre>
<h2 [style.text-align]="'center'"> {{name}} </h2>
<p [style.text-align]="'center'"> {{errorMessage}} </p>
<form #genericForm="ngForm" (ngSubmit)="doSomething(genericForm.value)" >
    <label class="">Username: </label>
    <input ngModel [style.width.%]="100" type="text" name="userID" required>
    <br><br>
    <label>Password: </label>
    <input ngModel [style.width.%]="100" type="password" name="password" required minlength="8">
    <br><br>
    <button [style.width.%]="100" [style.display]="genericForm.valid?'block':'none'">Submit</button>
</form>
</pre>
